<form action="/signup" method="POST">
  <input type="text" placeholder="Enter username" name="username" required>

    <input type="text" placeholder="Enter FirstName" name="firstName" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>


    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    <button type="submit">Submit</button>
</form>